contourpy
cycler
filelock
fonttools
fsspec
importlib_resources
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
pandas
pillow
PlexeAPI
pyparsing
python-dateutil
pytz
seaborn
six
sumolib
sympy
traci
typing_extensions
tzdata
zipp
